<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <% folders.forEach(function(folder, index) { %>
      <a href=<%= /library/ + folder.replace(' ', '%20') %>><%= folder %></a>
    <% }); %>

  </body>
</html>
