%h1 Library

%ul.library-list.small-block-grid-2
  - Dir.glob(@library_path).each do |file|
    - if File.directory?(file)
      %li
        = link_to library_list_content_path(path: file) do
          .tile
            = file.split('/').last

