%h1 Library

- Dir.glob("/Users/donaier/projects/raspberry_stuff/demo_folder_structure/*").each do |file|
  - if File.directory?(file)
    = link_to file.split('/').last, library_list_content_path(path: file)
