%h1 Library

%p= params[:path]

- Dir.glob("#{params[:path]}/*").each do |file|
  - if File.directory?(file)
    = link_to file.split('/').last, library_list_content_path(path: file)

  - else
    = link_to file.split('/').last, library_play_file_path(file: file), remote: true
